 {
    font-family: Arial, Helvetica, sans-serif;
    background-color:oldlace;
    color: pink;
}

h1 {
    padding-top: 10%;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link {
    color: pink;
}

a:hover {
    color: snow;
}

a:visited {
    color: lightgray;
}

li {
    list-style-type: none;
    list-style-position: inside;
}

pre code {

}