body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#todo-app {
    max-width: 100%;
    width: 50%
}
#list-container {
    margin-top: 10px;
    margin-bottom: 150px;;
}
h1 {
    text-align: center;
    margin: 10px 0px;
    color: rgb(125, 98, 150);
}
#list {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid black;
    -ms-overflow-style: none;   
    scrollbar-width: none; 
    border: 1px solid black;
}
#list::-webkit-scrollbar {
    display: none;
  }
.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    border-top: 1px solid black;
    font-size: 12pt;
    color: rgb(80, 80, 80);
    background-color: rgba(235, 228, 233, 0.63);
}
.list-item:first-of-type {
    border-top: none;
}

.list-item:nth-of-type(2n) {
    background-color: rgb(227, 217, 230);
}

.remove-btn {
    cursor: pointer;
}

#add-task-container {
    display: flex;
}

#list-footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(165, 138, 190);
    border: 1px solid black;
    border-top: none;
    color: white;
    font-size: 14pt;
    padding: 5px
}
input[type="radio"]{
    visibility:hidden;
}

input[type="radio"] + label {
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}

input[type="radio"]:checked + label {
    background-color: rgb(125, 95, 153);
    padding: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
form {
    flex: 2;
}
#item-input {
    width: 95%;
    height: 30px;
    background-color: rgb(125, 98, 150);
    color: white;
    font-size: 14pt;
    border: rgb(125, 90, 150);
}

#add-button {
    display: flex;
    border: 1px solid rgb(140, 116, 161) ;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
    cursor: pointer;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgb(165, 138, 190);
}

#empty-state {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-size: 12pt;
}